<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    {{!-- Nav Bar gives us easy access to theses routes /.. --}}

    <header class="header">
        <div>  <a class="MoneyBaller" href="/">
            <h1 class="MoneyBaller">MoneyBaller</h1></a> 
                
            
        </div>
         <a href="/login">Login</a> 
         <a href="/teampage">Team Page</a>
          <a href="/draft">Draft </a>
          <a href="/play"> Play Ball</a>
    </header>
    {{!-- displays the view in the body of main.handlebars --}}

    {{{ body }}}
    
</body>

</html>