<div class="cont">
<div class="newTeamDetailsCont">
    <h3>Manager Name:</h3>
    <h3>Create a new Team:</h3>
    <input id="newTeamName" type="text" placeholder="New Team Name">

</div>


<div class="SelectionCont"> 
    <div class="selectedSS">
        <h4>Choose a Fielder</h4>
        <select id="playerSelectF" name="player">
            <option value=""> Alex Rodriguez</option>
            <option value=""> Pee Wee Reese</option>
            <option value="">Derek Jeter</option>
        </select>
            <div class="selectedP">
       <h4>Choose a Pitcher</h4>
        <select id="playerSelectP" name="player">
            <option value=""> Cy Young</option>
            <option value="">Walter Johnson </option>
            <option value="">Derek Jeter</option>
        </select>
    </div>
        <div class="selectedH">
       <h4>Choose a Hitter</h4>
        <select id="playerSelectH" name="player">
            <option value="">Frank Thomas </option>
            <option value=""> Jose Abreu</option>
            <option value=""> Roberto Clemente </option>
        </select>
     <div class="finishDraftCont"><a href="/teampage">
    <button class="finishBtn">Finish Draft</button></a>
    <a href="/teampage">
    <button class="finishBtn">Exit</button></a>
    </div>
    </div>
   
</div>
</div></div>