<div class="container">
<div class="loginCont">
  <h2>Already have a team?</h2>
          <h3>Sign In to view your teams</h3> 
    <input type="text" id="managerName" placeholder="Manager Name">
    <input type="text" id="managerPassword" placeholder="Password">
     <button id="signInBtn">SignIn</button>
</div>
<div class="signUpCont">
        <h2>
            Create a team to see if you have what it takes to win a World
            Series?
          </h2>
    <input type="text" id="newManagerNameInput" placeholder="Manager Name">
    <input type="text" id="newPasswordInput" placeholder="Password">
    <button id="newManagerBtn">Create New Manager</button>
</div>
<script src="/js/login.js"></script>
</div>
