<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoneyBaller</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <div>
      <header class="header">
        <h1>
          <a class="moneyBaller" href="/">MoneyBaller</a>
        </h1>
        <nav class="navBar">
        
          <a class="TeamPages" href="/TeamPages">TeamPages</a> |
       
       
        </nav>
      </header>
      <div class="bigcontainer">
        <div class="activeUsersCont">
          <h2>Already have a team?</h2>
          <h3>Sign In to view your teams</h3>
          <input
            type="text"
            placeholder="Manager Name"
            id="input-Manager-Name"
          />
          <input type="text" placeholder="Password" id="input-Password" />
          <button class="newManager">SignIn</button>
        </div>
        <div class="NewUsersCont">
          <h2>
            Create a team to see if you have what it takes to win a World
            Series?
          </h2>

          <input
            type="text"
            placeholder="Manager Name"
            id="input-Manager-Name"
          />
          <input type="text" placeholder="Password" id="input-Password" />
          <button class="newManager">Create a New Manager</button>
        </div>
      </div>
      <main>
        <!-- Render the sub layout -->
       {{{ body }}} 
      </main>
      <footer></footer>
    </div>

    <!-- Render script for logged in users only -->
 
  </body>
</html>
