<div class="all">
    <div class="teamSelectedCont">
        <h3>Managers Name:</h3>
        <h3>Team Name:</h3>
    </div>
    <div class="threshholdsCont">
        <h2>WildCard</h2>
        <h2>LDS</h2>
        <h2>LCS</h2>
        <h2>World Series</h2>
    </div>
    <div class="selectedTeamCont">
        <div class="table">
            <h4>Positions </h4>
            <h4>First Name </h4>
            <h4>Last Name </h4>
            <h4>War </h4>
        </div>

        <div class="playerCont">
            {{#each players}}
            <h4 class="player">
                {{position}}
                {{firstName}}
                {{lastName}}
                {{war}}
                {{/each}}
            </h4>

        </div>

    </div>