body {
    margin: 0px;
  }
  .header {
    justify-content: center;
    justify-content: space-between;
    display: flex;
    height: 100px;
    color: white;
    background-color: rgb(200, 67, 67);
  }
  .moneyBaller {
    margin-top: 200px;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  .navBar {
    margin-top: 50px;
    margin-right: 20px;
    color: white;
  }
  .TeamPages {
    color: white;
    text-decoration: none;
  }
  .login {
    font-size: 18px;
    border-radius: 100px;
    padding: 5px;
    background-color: white;
    color: rgb(149, 52, 52);
    text-decoration: none;
  }
  .logout {
    font-size: 18px;
    border-radius: 100px;
    border-width: 0px;
    padding: 5px;
    background-color: white;
    color: rgb(149, 52, 52);
  }
  .activeUsersCont {
    color: white;
    margin: 25px;
    display: block;
    text-align: center;
    padding: 15px;
    width: 300px;
    height: 350px;
    background-color: rgb(200, 67, 67);
  }
  #input-Manager-Name {
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    text-align: center;
  }
  #input-Password {
    width: 250px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
  }
  .NewUsersCont {
    color: white;
    margin: 25px;
    display: block;
    text-align: center;
    padding: 15px;
    width: 400px;
    height: 350px;
    background-color: rgb(200, 67, 67);
  }
  .newManager {
    border-width: 0px;
    font-size: 18px;
  
    padding: 5px;
    background-color: white;
    color: rgb(149, 52, 52);
    text-decoration: none;
    margin-top: 20px;
  }
  
  .bigcontainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  @media screen and (max-width: 800px) {
    .bigcontainer {
      display: block;
    }
  }
  #input-Team_Name {
    width: 250px;
    height: 40px;
    margin-bottom: 30px;
  }
  .detailsCont {
    margin: 25px;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  .MyTeamsCont {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .DraftBtn {
    color: white;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(200, 67, 67);
  }
  .PlayBtn {
    margin-top: 20px;
    color: white;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(200, 67, 67);
  }
  .DisplayMyTeam {
    width: 500px;
    height: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(200, 67, 67);
  }
  .SaveBtn {
    margin-top: 20px;
    color: white;
    width: 200px;
    height: 45px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(200, 67, 67);
  }
  #inputNewTeamName {
    background-color: white;
    width: 200px;
    height: 25px;
  }
  .NewTeamCreation {
    margin-left: 25px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
  }
  .DisplayMyTeamSim {
    width: 500px;
    height: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(200, 67, 67);
  }
  .detailsContSim {
    width: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .MyTeamsContSim {
    padding: 25px;
    flex-direction: column;
  }
  .threshholdCont {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: 500px;
  }
  